---
const dest = '/propuesta-papel';
---
<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url={dest}" />
  <title>RUT Verifier</title>
</head>
<body>
  <p>Redirigiendo a <a href={dest}>RUT Verifier</a>...</p>
</body>
</html>